
:host {
    display:inline-flex;
    height:40px;
    &:hover {
        cursor: pointer;
    }
    &:focus, &:active {
        outline: 0;
    }
}

button {
    background:transparent;
    border:0;
    margin:0;
    box-shadow: none;
    &:focus, &:active {
        outline: 0;
    }
    img {
        height:30px;
        width:30px;
    }
}
